<!--exercices openclassrooms.com Nguyen thi -->

<div class="row">

  <div class="col-sm-8 col-sm-offset-2">
  <h2 style="margin-bottom: 1em">Créer un nouveau post</h2>

    <form [formGroup]="blogForm" (ngSubmit)="onSaveBlog()">

      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title"
                class="form-control" formControlName="title">
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" id="content"
                class="form-control" formControlName="content">
        </textarea>
      </div>


      <button class="btn btn-success" type="submit"
                [disabled]="blogForm.invalid">Enregistrer
      </button>


    </form>

    <p style="padding-top: 15px;">

    <button class="btn btn-primary" (click)="onBack()">Retour</button>

    </p>

    </div>

</div>

